.footer {
  background-color: #353535;
  padding: 30px 0;
  a {
    color: lightgrey;
    font-size: 30px;
    margin: 0 10px;
    &:hover {
      color: $yellow;
    }
  }
  p {
    color: lightgrey;
  }
}


